:root {
  --bg: #010101;
  --primary: rgb(187, 12, 47);
  --line: #937ba5;
  --font: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--font);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid var(--line);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--font);
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: var(--font);
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1.5rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: var(--font);
  margin: 0 0.5rem;
  font-size: 1.7rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Navbar Search Form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: var(--font);
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  color: var(--bg);
  margin-right: 1.5rem;
}

/* Halaman Xialing guide */
h1 {
  margin-top: 150px;
  text-align: center;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.main .main-content {
  border: 1px solid var(--line);
  border-radius: 8px;
  width: 30%;
}

.main .main-content img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.side-content {
  border: 1px solid var(--line);
  border-radius: 8px;
  width: 70%;
  height: auto;
  margin: 2rem 4rem;
  padding: 1rem;
}

.side-content .stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1.4rem 0.7rem;
  font-size: 1.3rem;
}

.side-content .stat .stars {
  color: gold;
}

.side-content .stastistik {
  margin-top: 5rem;
  display: block;
  font-size: 1.3rem;
}

.stastistik .materials {
  margin: 1.4rem 0.7rem;
}

.side-content .stastistik h4 {
  text-align: center;
}

.side-content .stastistik .total-material {
  display: flex;
  flex-wrap: wrap;
}

.side-content .total-material img {
  width: 4rem;
  margin: 0 0.5rem;
}

/* Section weapon & artifact recommended */
.main-weapon,
.main-artifact,
.main-talent,
.main-teams {
  margin: 2rem;
  padding: 2rem;
}

.main-weapon h2,
.main-artifact h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

table {
  border: 1px solid var(--line);
  border-collapse: collapse;
  width: 90%;
  font-size: 1.5rem;
}

th {
  width: 50%;
  border: 1px solid var(--line);
  padding: 0.7rem 0;
  text-align: center;
}

td {
  border: 1px solid var(--line);
  padding: 0.5rem 3rem;
}

.main-weapon .set-weapon,
.main-artifact .set-arte {
  background-color: var(--primary);
}

/* section upgrade talent */
.main-talent h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.main-talent .talent-upgrade {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--line);
  padding: 1.5rem;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 10px;
}

.talent-upgrade .arrow-icon1 {
  font-size: 3.5rem;
  font-weight: bold;
}

.talent-upgrade .arrow-icon2 {
  font-size: 3.5rem;
  font-weight: bold;
  display: none;
}

/* section teams */
.main-teams h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.main-teams h3 {
  font-size: 1.6rem;
  margin: 0.5rem 1rem;
}

.main-teams .best-teams {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.best-teams .teams1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid var(--line);
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
}

/* Footer section */
.footer {
  background: var(--bg);
  text-align: center;
  border-top: 1px solid var(--line);
  border-bottom: 1px solid var(--line);
  margin-top: 5rem;
  padding: 1rem;
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem;
}

.footer .navbar-logo {
  font-size: 3rem;
  font-weight: 700;
  color: var(--font);
  font-style: italic;
}

.footer .navbar-logo span {
  color: var(--primary);
}

.footer .share {
  padding: 1rem 0;
}

.footer .share a {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  font-size: 1.4rem;
  color: #fff;
  border: 1px solid var(--line);
  margin: 0.5rem;
  border-radius: 50%;
}

.footer .share a:hover {
  background-color: var(--primary);
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.footer .links a {
  padding: 0.5rem 1rem;
  color: #fff;
  border: 1px solid var(--line);
  font-size: 1.3rem;
}

.footer .links a:hover {
  background: var(--primary);
}

.footer .credit {
  font-size: 1.4rem;
  color: #fff;
  font-weight: lighter;
  padding: 1.5rem;
  font-weight: 600;
}

.footer .credit span {
  color: var(--primary);
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--font);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.7rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover:after {
    transform: scaleX(0.3);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .main {
    display: block;
  }

  .main .main-content {
    width: 100%;
    height: auto;
  }

  .main .side-content {
    width: 100%;
    height: auto;
    margin: 2rem 0;
  }

  .main .side-content .stat {
    width: 100%;
    height: auto;
    padding-right: 1rem;
    font-size: 1.4rem;
  }

  table {
    font-size: 1.5rem;
    width: 100%;
  }

  .main-talent .talent-upgrade {
    display: block;
  }

  .talent-upgrade .arrow-icon1 {
    display: none;
  }

  .talent-upgrade .arrow-icon2 {
    display: block;
  }

  .footer .footer-content {
    display: block;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
